* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
.principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 0;
    padding-bottom: 0;
}

.principal .topo {
    align-self: center;
}
.principal .nav {
    align-self: center;
}

.topo {
    display: none;
}
    .topo__telefone, .topo_icons {
        display: flex;
    }

    .topo {
        justify-content: space-between;
        align-items: center;
        color: silver;  
    }
    .topo__icons {
        font-size: 30px;
    }
    .topo__icons i {
        margin-right: 10px; 
    }
    .topo__telefone span i {
        margin-right: 6px;
        font-size: 15px;
    }
    .topo__telefone .telefone {
        font-size: 15px;
        margin-top: 2px;
    }


nav {
    background-color: #00768d;
}

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    flex: 1 0 100%;
}



.aempresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin-top: 20px;
}
    .aempresa__title {
        text-align: center;
        color: #00768d;
        font-size: 18px;
        padding: 2px 0;
    }

    

    #iframe-container {
        margin: 0 auto !important;
        max-width: 800px;
        padding: 10px 0;
    }
    .responsive {
        position: relative;
        height: 0;
        width: 100%;
        padding-bottom: 56.25%;
    }
    .responsive iframe{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    hr { 
        display: block; height: 2px;
        border: 0; 
        border-top: 1px solid #00768d;
        margin: 1em 0; padding: 0; }



.bemvindo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}        
    .bemvindo__title {
        font-size: 20px;
        color:#00768d;
        align-self: center;
        padding: 10px 0;
    }
    .bemvindo__conteudo {
        margin: 0 10px;
        font-size: 15px;
        color:#9e9c9c;
        align-self: center;
        padding: 10px 0 0 0;
    }
    .bemvindo__conteudo h6 {
        font-weight: bold;
    }
    .bemvindo__centros {
        padding: 0;
        margin: 0 10px;
        font-size: 15px;
        color:#9e9c9c;
        align-self: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bemvindo__centros_detalhe {
        flex: 0 0 350px;
        padding: 0 0 5px 0;
        margin: 0;
    }
    .bemvindo__centros_detalhe i {
        margin-right: 10px;
        color: #00768d;
    }

    .bemvindo__icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }
    .bemvindo__icons__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background: #00768d;
        color: #fff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .bemvindo__icons__item i {
        font-size: 30px;
    }
    .bemvindo__icons__item:hover {
        color: #00768d;
        border: 2px solid #00768d; 
        background: #fff;
    }
    .bemvindo__icons__item:hover i {
        font-size: 40px;
    }
    .bemvindo__icons__separador {
        background-color: #d8d6d6;
        width: 60px;
        height: 2px;
        margin: 25px auto;
    }
    .bemvindo__icons__label {
        color: #797878;
        font-size: 14px;
    }
    .bemvindo_icons_itemgroup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }




.home img {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
}


.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto 10px auto;
}

.servicos__cards {
    display: flex;
    flex-direction: column;
}
.servicos__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    
}
    .servicos__card img {
        width: 190px;
    }
    .servicos__card__title {
        font-size: 20px;
    }

    .servicos__card_color_1 { color: #8EC54B }
    .servicos__card_color_2 { color: #F9A358 }
    .servicos__card_color_3 { color: #ED635F }
    
    .servicos__card__title { font-size: 25px; align-self: center; }
    .servicos__card__subtitle { font-size: 16px; width: 300px; height: 70px; padding: 10px 0 20px 0; align-self: center; }
    .servicos__card__content { font-size: 14px; width: 300px; height: 150px; align-self: center; color: #9e9c9c; }

    .servicos__card__btn1 {  font-size: 16px; width: 150px; height: 45px; padding: 10px; align-self: center; border: 1px solid #8EC54B; color: #8EC54B; border-radius: 5px; margin: 10px auto; }
    .servicos__card__btn2 {  font-size: 16px; width: 150px; height: 45px; padding: 10px; align-self: center; border: 1px solid #F9A358; color: #F9A358; border-radius: 5px; margin: 10px auto; }
    .servicos__card__btn3 {  font-size: 16px; width: 150px; height: 45px; padding: 10px; align-self: center; border: 1px solid #ED635F; color: #ED635F; border-radius: 5px; margin: 10px auto; }


.clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto 20px auto;

    

}
.clientes img {
    width: 100%;
    height: 100%;
}



.depoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #03979E;
}
    .depoimentos_titulo {
        align-self: center;
        text-align: center;
        font-size: 40px;
        padding: 30px 0 30px 0;
        color: #fff;
    }
    .depoimentos_conteudo {
        align-self: center;
        text-align: center;
        font-size: 16px;
        color: #fff;
        padding: 10px 0 30px 0;
        margin: 0 10px;
    }
    .depoimentos_autor {
        align-self: flex-end;
        text-align: right;
        font-size: 16px;
        color: #fff;
        padding: 20px 0 20px 0;
        margin: 0 10px;
    }
    
    .sustentabilidade {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #E9F1D5;
        padding-top: 20px;
    }
        .sustentabilidade__item {
            display: flex;
            flex-direction: column;
            flex: 0 1 100%;
            margin: 0 auto 50px auto;
        }   
            .sustentabilidade img {
                width: 300px;
                height: 300px;
            }
            .sustentabilidade__img {
                justify-content: center;
                margin: 0 auto; 
            }
        
            .sustentabilidade__info {
                display: flex;
                flex-direction: column;
                padding: 0 30px;
            }
                .sustentabilidade__subtitule {
                    color: #9e9c9c;
                }
                .sustentabilidade__opcoes {
                    padding-top: 10px;
                }
                    .sustentabilidade__opcoes_it i {
                        color: #9e9c9c;
                        color: #00768d;
                        margin-right: 10px;
                    }
                    .sustentabilidade__opcoes_it span {
                        color: #9e9c9c;
                    }



.certificacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    margin-bottom: 30px; 
}
    .certificacoes__subtitulo {
        margin: 0 10px;
        color:#00768d;
        align-self: center;
        text-align: center;
        margin: 0 15px 25px 15px;
    }
    .certificacoes__cards {
        display: flex;
        flex-direction: column;
    }
    .certificacoes__card {
        display: flex;
        flex-direction: column;
        margin: 30px auto;
    }
        .certificacoes__logo {
            width: 150px;
            height: 150px;
            margin: 0 auto;
        }
        .certificacoes__logo img{
            width: 100%;
            height: 100%;
        }
        .certificacoes__titulo {
            font-size: 16px;
            font-weight: bold;
            color: #3f3f3f;
            margin: 15px auto;
            text-align: center;
        }
        .certificacoes__conteudo {
            font-size: 12px;
            color: #9e9c9c;
            margin: 5px 30px 20px 30px;
            text-align: center;
        }

    
.mapasite {
    background: #222222;
    padding: 100px;
}

.mapasite__titulo {
    color: silver;
}
.mapasite__itens {
    display: flex;
    flex-direction: column;
}
.mapasite__item {
    display: flex;
    flex-direction: row;
    color: silver;
    font-size: 12px;
    align-items: center;
    align-content: center;
    padding: 5px 0px 5px 20px;
}

.mapasite__item i {
    margin-right: 10px;
}



.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: silver;  
    background: #121313;
    border-top: 1px solid #2a2a2a;
    padding: 7px 10px;
    flex: 0 0 auto;
}
.footer__telefone, .footer_icons {
    display: flex;
}
.footer__icons {
    font-size: 30px;
}
.footer__telefone span i {
    margin-right: 6px;
    font-size: 15px;
}
.footer__telefone .telefone {
    font-size: 15px;
}
.footer__razao {
    display: none;
}    

#carousel-titulo1 {
    display: none;
}
        
@media (min-width: 550px) {
    .topo {
        display: flex;
        width: 100%;
        z-index: 998;
        position: fixed;
        padding: 0 10%;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.4);
    }
    nav {
        top: 45px !important;
        background-color: rgba(0, 0, 0, 0.4) !important;
    }
    nav > a {
        margin-left: 100px !important;
    }
    .aempresa__title {
        font-size: 22px;
    }

    .bemvindo__title {
        font-size: 40px;
    }
    .bemvindo__conteudo {
        font-size: 15px;
        max-width: 700px;
    }
    .bemvindo__centros {
        font-size: 15px;
        max-width: 700px;
    }
    .bemvindo__icons {
        flex-direction: row;
        justify-content: space-between;
        width: 600px;
    }

    #carouselExampleControls {
        margin: 0 auto 10px auto;
    }

    .servicos__cards {
        flex-direction: row;
        width: 1050px;
        align-items: flex-start;
        justify-content: center;
    }

    .servicos__card {
        min-width: 350px;
    }

    .depoimentos_titulo {
        width: 600px;
        margin: 0 auto;
    }
    .depoimentos_conteudo {
        margin: 0 auto;
        width: 600px;
    }
    .depoimentos_autor {
        margin: 0 auto;
        width: 600px;
    }
    .sustentabilidade__item {
        flex-direction: row;
        width: 1100px;
    }

    .certificacoes__cards {
        flex-direction: row;
        justify-content: center;
        padding: 0 20%;
        flex-wrap: wrap;
    }
    .certificacoes__card {
        padding: 10px;
        flex-basis: 300px;
        text-align: center;
        margin: 10px;
        flex-basis: 250px;
    }

    .certificacoes__subtitulo {
        width: 700px;
    }

    .footer__razao {
        display: flex;
    }
    .footer {
        padding: 10px 0px;
        margin-bottom: 0;
    }
    
    .principal {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #carousel-titulo1 {
        display: flex;
        height: 65%;
        text-align: left;
        font-size: 50px;
    }
    #carousel-titulo1 p {
        height: 35px;
        text-align: left;
        font-size: 40px;
    
    }
    
    .carousel-item-alinhamento {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.384);
        padding: 0 70px;
        border-radius: 10px;
    }
    .carousel-item-centralizar {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    
}

.titulo {
    font-size: 40px;
    color:#00768d;
    align-self: center;
    padding: 20px 0;
}


.displayTopo {
    display: none;
}

.displayNav {
    background: rgba(0, 0, 0, 0.801) !important;
    /* background: #ffffffe5 !important; */
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    transition: all ease 1s;
}

.displayNav > a {
    /* color: #000 !important; */
    color: #fff !important;
}





/* ANIMATED */
.delayArtfix {
    animation-duration: 5s;
    /* animation-delay: 3s; */
    /* animation-iteration-count: infinite; */
}




