* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
.principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.principal .topo {
    align-self: center;
}
.principal .nav {
    align-self: center;
}

.topo {
    display: none;
}
    .topo__telefone, .topo_icons {
        display: flex;
    }

    .topo {
        justify-content: space-between;
        align-items: center;
        color: silver;  
    }
    .topo__icons {
        font-size: 30px;
    }
    .topo__icons i {
        margin-right: 10px; 
    }
    .topo__telefone span i {
        margin-right: 6px;
        font-size: 15px;
    }
    .topo__telefone .telefone {
        font-size: 15px;
        margin-top: 2px;
    }


nav {
    background-color: #00768d;
}

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    flex: 1 0 100%;
}



.aempresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin-top: 20px;
}
    .aempresa__title {
        text-align: center;
        color: #00768d;
        font-size: 18px;
        padding: 2px 0;
    }

    

    #iframe-container {
        margin: 0 auto !important;
        max-width: 800px;
        padding: 10px 0;
    }
    .responsive {
        position: relative;
        height: 0;
        width: 100%;
        padding-bottom: 56.25%;
    }
    .responsive iframe{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    hr { 
        display: block; height: 2px;
        border: 0; 
        border-top: 1px solid #00768d;
        margin: 1em 0; padding: 0; }



.bemvindo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}        
    .bemvindo__title {
        font-size: 20px;
        color:#00768d;
        align-self: center;
        padding: 10px 0;
    }
    .bemvindo__conteudo {
        margin: 0 10px;
        font-size: 15px;
        color:#9e9c9c;
        align-self: center;
        padding: 10px 0 0 0;
    }
    .bemvindo__conteudo h6 {
        font-weight: bold;
    }
    .bemvindo__centros {
        padding: 0;
        margin: 0 10px;
        font-size: 15px;
        color:#9e9c9c;
        align-self: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bemvindo__centros_detalhe {
        flex: 0 0 350px;
        padding: 0 0 5px 0;
        margin: 0;
    }
    .bemvindo__centros_detalhe i {
        margin-right: 10px;
        color: #00768d;
    }

    .bemvindo__icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }
    .bemvindo__icons__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background: #00768d;
        color: #fff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .bemvindo__icons__item i {
        font-size: 30px;
    }
    .bemvindo__icons__item:hover {
        color: #00768d;
        border: 2px solid #00768d; 
        background: #fff;
    }
    .bemvindo__icons__item:hover i {
        font-size: 40px;
    }
    .bemvindo__icons__separador {
        background-color: #d8d6d6;
        width: 60px;
        height: 2px;
        margin: 25px auto;
    }
    .bemvindo__icons__label {
        color: #797878;
        font-size: 14px;
    }
    .bemvindo_icons_itemgroup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }



.footer {
    border: 1px solid blue;
}

.home img {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
}


@media (min-width: 700px) {
    .topo {
        display: flex;
        width: 100%;
        z-index: 998;
        position: fixed;
        padding: 0 10%;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.4);
    }
    nav {
        top: 45px !important;
        background-color: rgba(0, 0, 0, 0.4) !important;
    }
    nav > a {
        margin-left: 100px !important;
    }
    .aempresa__title {
        font-size: 22px;
    }

    .bemvindo__title {
        font-size: 40px;
    }
    .bemvindo__conteudo {
        font-size: 15px;
        max-width: 700px;
    }
    .bemvindo__centros {
        font-size: 15px;
        max-width: 700px;
    }
    .bemvindo__icons {
        flex-direction: row;
        justify-content: space-between;
        width: 600px;
    }

    
    
}

